@use '../utils' as *;

.app {
  @include flexCenter;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--primary-bg-color);

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}

.invisible {
  display: none;
}