@use '../utils' as *;
@use '../utils/functions.scss'  as mixin;

.app {
  @include mixin.flexCenter;
  min-height: 100vh;
  min-width: 100vw;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}