@use '../utils/functions.scss'  as mixin;

.todo-list {
    width: 50%;
    flex-direction: column;
    @include mixin.flexCenter;
    z-index: 10;
    background-color: var(--todo-list-bg);
    padding: 2rem;
    border-radius: 25px;

    .todo-row {
        width: 100%;
        background-color: var(--primary-bg-color);
        border-radius: 10px;
        color: var(--primary-txt-color);
        padding: .5rem;
        text-align: center;
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        .icons {
            display: flex;
            align-items: center;
            z-index: 10;
            
            & > * {
                margin-right: .3rem;
            }

            .delete-icon, .edit-icon {
                height: 25px;
                width: 25px;
            }
        }
    }
}

.complete {
    text-decoration: line-through;
    opacity: 0.7;
}